.container {
    display: flex;
    height: 300px;
    width: 950px;
    
}

.item{
    height: 120px;
    border: 1px solid black;
    flex-grow: 1;
    
}

.item1{
    background-color: blue;
    transition: height 2s;
    transition-timing-function: ease;
}

.item1:hover {
    height: 270px;
}

.item2{
    background-color: red;
    transition: height 2s;
    transition-timing-function: ease-out;
}

.item2:hover {
    height: 270px;
}

.item3{
    background-color: green;
    transition: height 2s;
    transition-timing-function: linear;
}

.item3:hover {
    height: 270px;
}

.box {
    width: 50%;
    height: 400px;
    animation-name: animasiya;
    animation-duration: 8s;
    
    
}

@keyframes animasiya {
    0% {
        background-color: black;
    }

    25% {
        background-color: red;
        transform: rotate(30deg);
    }

    50% {
        background-color: yellow;
        transform: rotate(90deg);
    }

    75% {
        background-color: aqua;
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
        display: none;
    }



}